<footer class="footer py-3 bg-light">
  <div class="container">
    <span class="text-muted">Copyright2021 GENE4300</span>
  </div>

</footer>

<script src="signal.js"></script>
<script src="monitor.js"></script>

</body>

</html>
